.main {
    width: 370px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid gray;
	border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #010101;
    background-color: #F5F4FA;
}